<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>政府风貌</title>
  <link rel="stylesheet" href="__PUBLIC__/css/base.css">
  <link rel="stylesheet" href="__PUBLIC__/css/swiper-4.2.2.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/governmentStyle.css">
</head>
<body>
  <!-- 引用公共头部 -->
    {include file="common/header" /}
  <div class="wrap">
    <div class="center">
      <div class="center_left_top">
        <img src="__IMG__{$detail.image}" alt="请重新加载">
        <a class="center_detail" href="{:url('Gov/yuanqudetail')}">进入详情 >>></a>
        <p>{$detail.title}</p>
      </div>
      <div class="center_right_top">
        <p class="top_text">政府领导<span><a href="{:url('Gov/lst_leader')}" style="color: #666;">更多>></a></span></p>
        <div class="center_right_detail">
          <img src="__IMG__{$leader.image}" alt="请重新加载">
          <p>{$leader.name}</p>
          <!-- <p>滑县县委副书记、县长</p> -->
          <p>领导分工：</p>
          <!-- <p>分管：财政局和人事局。</p> -->
          <p>{$leader.work}</p>
        </div>
      </div>
      <div class="center_left_bottom">
        <p class="top_text">政府文件<span><a href="{:url('Gov/file')}" style="color: #666;">更多>></a></span></p>
        <ul>
          {volist name="file" id="vo"}
            <li><span><!-- <a href="{:url('Gov/download',array('id'=>$vo.id))}" style="text-decoration: none !important;color: #333;"> -->{$vo.file}<!-- </a> --></span><a href="{:url('Gov/filedetail',array('id'=>$vo.id))}">查看详情</a></li>
          {/volist}
          <!-- <li><span>滑县产业扶贫加工基地金泰服装建设</span><a href="#">查看详情</a></li> -->
        </ul>
      </div>
      <div class="center_right_bottom">
        <div class="center_content">
          <div class="right_title">招商引资</div>
          <h1>滑县支持招商引资项目建设暂行办法的通知</h1>
          <p>各乡（镇）人民政府，产业聚集区管理委员会，县人民政府各部门及有关单位:</p>
          <p>现将《滑县支持招商引资项目建设暂行办法》印发给你们，请认真参照执行。</p>
          <a href="{:url('Gov/businessdetail')}">点击查看详情</a>
        </div>
      </div>
    </div>
    <div class="big_title">
      <p>
        <span>滑县产业集聚区大事记</span>
      </p>
    </div>
    <div class="big_thing">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {volist name="events" id="v1"}
            <div class="swiper-slide">
              <a href="{:url('Gov/eventsdetail')}" style="color: #666;">
                <img src="__IMG__{$v1.image}" alt="请重新加载">
                <div class="slide_right">
                  <h2>{$v1.title}<!-- 18个村合并成"超级大社区" --></h2>
                  <p>{$v1.description}<!-- 省政府批准同意调整我县部分行政区规划————同意撤销道口镇、城关镇，设立道口镇街道办事处、城关镇街道办事处、同时，撤销四间房乡，设立四间房镇。 --></p>
                </div>
              </a>
            </div>
          {/volist}
          <!-- <div class="swiper-slide">
            <img src="images/governmentStyle4.jpg" alt="请重新加载">
            <div class="slide_right">
              <h2>18个村合并成"超级大社区"</h2>
              <p>省政府批准同意调整我县部分行政区规划————同意撤销道口镇、城关镇，设立道口镇街道办事处、城关镇街道办事处、同时，撤销四间房乡，设立四间房镇。</p>
            </div>
          </div> -->
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <!-- 引用公共底部 -->
{include file="common/footer" /}
</body>
  <script src="__PUBLIC__/js/jquery-3.3.1.js"></script>
  <script src="__PUBLIC__/js/swiper-4.2.2.min.js"></script>
  <script src="__PUBLIC__/js/governmentStyle.js"></script>
</html>