<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扶贫政策</title>
    <link rel="stylesheet" href="__PUBLIC__/css/base.css">
    
    <script src="__PUBLIC__/js/jquery-3.3.1.js"></script>
</head>
<body>
    <!-- 引用公共头部 -->
    {include file="common/header" /}
    <link rel="stylesheet" href="__PUBLIC__/css/poor.css">
<div class="wrap">
    <div class="center fupinzc">
        <p class="top_title">您现在的位置 | <a href="{:url('Index/help')}">扶贫攻坚</a> > | <span> 扶贫政策 </span></p>
        <h1>扶贫政策</h1>
        <!--<script>
          var num = 1;
          $("h1").on("click", function () {
            $(this).addClass('bord').siblings().removeClass('bord');
            num = $(this).attr('id');
            $(".file_list").eq(num).addClass('toggle').siblings().removeClass('toggle');
          })
        </script>-->
        <!--<div style="clear: both;"></div>-->
        <div class="file_list">
            <div class="file_list_center">
                {volist name="help" id="vo"}
                    <div class="file_detail"><a href="{:url('Index/helpzhengcedetail',array('id'=>$vo.id))}" style="color: #666;">{$vo.title}</a></div>
                {/volist}
                <!-- <div class="file_detail">滑县产业扶贫加工基地金泰服装建设</div> -->
            </div>
        </div>
    </div>
</div>
<!-- 引用公共底部 -->
{include file="common/footer" /}
</body>
</html>