<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>留言</title>
  <link rel="stylesheet" href="__PUBLIC__/css/base.css">
  <link rel="stylesheet" href="__PUBLIC__/css/leaveWord.css">
</head>
<body>
  <!-- 引用公共头部 -->
    {include file="common/header" /}
  <div class="wrap">
    <div class="center" style="position: relative;">
      <p class="top_title">您现在的位置 | <a href="{:url('Message/index')}">进言献策</a> > | <span> 留言 </span></p>
      <p class="detail_title">填写留言信息</p>
      <form action="{:url('Message/add')}" method="post" enctype="multipart/form-data"> 
        <div class="enter_biu" style="position: absolute;right: 10px;top: 30px;">
          <img src="__PUBLIC__/images/leaveWord2.png" alt="请重新加载">
          <button class="enter_btn">发布</button>
        </div>
        <textarea class="content_detail" name="title" id="" cols="138" rows="18"></textarea>
      </form>
        <p class="reply_title">我的留言</p>
      {volist name="my_message" id="vo"}
        <div class="reply_detail">
        <img src="__PUBLIC__/images/leaveWord4.png" alt="请重新加载">
        <p class="question">{$vo.title}<span class="question_time">{$vo.time1}</span><!-- <span class="question_date">2018-01-02 </span> --></p>
        {if condition="$vo.content neq '' "}
        <p class="answer">
          <reply>回复：</reply>{$vo.content}<span class="answer_time">{$vo.time}</span><!-- <span class="answer_date">2018-01-02 </span> -->
        </p>
        {/if}
      </div>
      {/volist}<!-- 
      <div class="reply_detail">
        <img src="__PUBLIC__/images/leaveWord4.png" alt="请重新加载">
        <p class="question">海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。<span class="question_time">18:32:02</span><span class="question_date">2018-01-02 </span></p>
        <p class="answer">
          <reply>回复：</reply> 
          海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。<span class="answer_time">18:32:02</span><span class="answer_date">2018-01-02 </span>
        </p>
      </div>
      <div class="reply_detail">
        <img src="__PUBLIC__/images/leaveWord4.png" alt="请重新加载">
        <p class="question">海关特殊监管区和非特殊监管区。海关特殊监管区和非特殊监管区。。<span class="question_time">18:32:02</span><span class="question_date">2018-01-02 </span></p>
      </div>
    </div> -->
  </div>
  <!-- 引用公共底部 -->
{include file="common/footer" /}
</body>
</html>